.piece {
    height: 70%;
    width: 70%;
}

.tile > * > .piece {
    padding: 15%;
}

.piece:hover {
    cursor: pointer;
}

.whitePiece {
    filter: drop-shadow(1px 1px 1px black) 
            drop-shadow(1px 1px 1px black);
}

