.piece {
    height: 70px;
    width: 70px;
    padding: 15px;
}

.piece:hover {
    cursor: pointer;
}

.whitePiece {
    filter: drop-shadow(1px 1px 1px black) 
            drop-shadow(1px 1px 1px black);
}

